* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#tela {
  position: relative;
  width: 100%;
  height: 500px;
  background: linear-gradient(#87CEEB, #E0F6FF);
  border-bottom: green 30px solid;
  margin: auto;
  overflow: hidden;
}

img.cano {
  position: absolute;
  width: 80px;
  bottom: 0;
  animation: animaCano 1.5s infinite linear;
}

@keyframes animaCano {
  from { right: -80px; }
  to { right: 100%; }
}

img.nuvens {
  position: absolute;
  width: 600px;
  top: 10px;
  animation: animaNuvens 20s infinite linear;
}

@keyframes animaNuvens {
  from { right: -600px; }
  to { right: 100%; }
}

img.mario {
  position: absolute;
  width: 150px;
  bottom: 0;
}

.pulo {
  animation: animaMario 500ms;
}

@keyframes animaMario {
  0% { bottom: 0; }
  50% { bottom: 180px; }
  100% { bottom: 0; }
}

img.gameover {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 40%;
  visibility: hidden;
}

img.cima {
  position: absolute;
  width: 100px;
  right: 100px;
}

img.reset {
  position: absolute;
  width: 100px;
  left: 100px;
}